
<div class="col-md-12 col-xs-12 boxSystem qinexRoute miniDashboardBlk">

	<div class="miniDashboard">
		<div class="sourceDatafloor">

			<!-- First Panel -->
			<div class="sourcePanel slideP sourceBlue width16 slide-1">

				<div class="bodyPanel bdPanel-1"></div>
			</div>

			<!-- Second Panel -->
			<div class="sourcePanel slideP sourceGreen width16 slide-2">
				
				<div class="bodyPanel bdPanel-2"></div>
			</div>

			<!-- Third Panel -->
			<div class="sourcePanel slideP sourceBlue width16 slide-3">

				<div class="bodyPanel bdPanel-3"></div>
			</div>

			<!-- Fourth Panel -->
			<div class="sourcePanel slideP sourceGreen width16 slide-4">
				
				<div class="bodyPanel bdPanel-4"></div>
			</div>

			<!-- 14 Days Panel -->
			<div class="sourcePanel sourceBlueBar sourceGreen width16">
                <div class="in-sourcePanel">
                    <span class="sourceBartitle">Last 14 Days</span>

                    <div class="sourceFlBar"></div>

                </div>
            </div>

            <!-- 7 Days Panel -->
			<div class="sourcePanel sourceGreenBar sourceBlue width16 widthSquareBar">
                <div class="in-sourcePanel">
                    <span class="sourceBartitle">Last 7 Days</span>

                    <div class="sourceFlBarSeven"></div>

                </div>
            </div>

		</div>
	</div>

</div>