
<div class="chartUser">
						
	<div id="titlebar">
		<h3 class="userChartTitle">TeleSale User Report</h3>
		<div class="infoBars">
			<span class="infoBars-subtitle allColor">1. All Transferred</span>
			<span class="infoBars-subtitle pqColor">2. Rejected</span>
			<span class="infoBars-subtitle notColor">3. Deleted</span>
			<span class="infoBars-subtitle rejectedColor">4. Retained</span>
			<span class="infoBars-subtitle delectedColor">5. PQ Transferred</span>
			<span class="infoBars-subtitle retainedColor">6. Transferred Not PQHK</span>
		</div>
	</div>

	<!-- User Chart Slider Runs To The Left Side -->
	<span class="goleft"></span>

	<!-- User Chart Slider Runs To The Right Side -->
	<span class="goright goslideHidden"></span>

	<div class="out-Chart-Bar">
		<div class="chart-bar-slide"></div>
	</div>

</div>