
<div class="chartUser userReport" style="margin-bottom: 14px;">
	<div id="titlebar">
		<h3 class="userChartTitle">User Report</h3>
	</div>

	<div class="UserReportBtns">
		<span class="ReportSmallBtn ReportSmallBtnEbable">All</span>
	</div>

	<div class="chartUserReport">
		
		<div class="chartUserReport_In">
			<div class="leftNumbChart">
				<span class="chartScl">3000</span>
				<span class="chartScl">2400</span>
				<span class="chartScl">1800</span>
				<span class="chartScl">1200</span>
				<span class="chartScl">600</span>
				<span class="chartScl">0</span>
			</div>
			<div class="rightNChart">

				<!-- Charts Content Injection -->
				<div class="nChartPl" id="nChartPl"></div>

			</div>
		</div>

		<div class="ActionsPro">
			<div class="ActP_In"></div>
		</div>

	</div>
</div>