
<div id="nav-right">
	<div class="right-nav">

		<!-- <div class="productsRnav" style="display: none">Leads</div> -->

		<div class="teleSalesRnav merchantScreen">
			<div class="teleSalesinfo">

				<div class="teleReportbarTabs">
					<span class="tabReportUser reportsTab tabEnable">Merchants</span>
					<span class="tabReportUser usersTab">Products</span>
				</div>

				<div class="rightInfoBlks teleSalessmallInfo">
					<div class="infoCharts merchantInfo">
						<div class="ProductsLoop"></div>
					</div>
				</div>

				<div class="rightInfoBlks productInfo">
					<div class="ProductsLoop"></div>
				</div>

			</div>
		</div>

		<!-- Right Nav For TeleSales Screen -->
		<div class="teleSalesRnav telRnavScreen teleSrightNav">
			<div class="teleSalesinfo">

				<!-- <div class="teleReportbarTabs">
					<span class="tabReportUser reportsTab tabEnable">Reports</span>
					<span class="tabReportUser usersTab">Users</span>
				</div> -->

				<div class="rightInfoBlks teleSalessmallInfo">
					<div id="infoCharts" class="infoCharts"></div>

					<!-- modalCharts-Open -->
					<div class="modalCharts">
						
						<!-- callsNow -->
						<div id="totalCalls-Modal" class="totalCalls-Modal" style="overflow: hidden;"><i class="fas fa-times clseTCalls" aria-hidden="true"></i></div>

						<!-- uniqueNow -->
						<div id="uniqueCall-Modal" class="uniqueCall-Modal" style="overflow: hidden;"><i class="fas fa-times clseUCalls" aria-hidden="true"></i></div>
					</div>

					<!-- User Reports Charts -->
					<userreport-chart></userreport-chart>

					<!-- User Charts -->
					<teleuserreport-chart></teleuserreport-chart>

				</div>

				<!-- <div class="rightInfoBlks">users here</div> -->

			</div>
		</div>

	</div>
</div>
