
<div class="col-md-12 col-xs-12 boxSystem qinexRoute TeleSBlk" style="padding-top: 63px; padding-left: 75px;">
    <div id="searchbar">
        <div class="panel panel-heading">
            <i class="fad fa-calendar-star" style="margin-top: 4px;" aria-hidden="true"></i>
            <h4>Calendar</h4>
        </div>
    </div>
    <!-- <h3 style="margin-top: 0; padding: 12px; padding-top: 0; padding-bottom: 0;">General Settings</h3> -->
    <div class="panel panel-body" style="padding: 0;">
        <!-- Edit Lead Floor -->
        <div class="edit-lead editLead">

            <div class="openEditLead">
                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            </div>

            <div class="leadId_info" style="float: right; width: 37%;">
                <div class="Time-Group">

                    <div class="inputPicker_mini width32 inputPicker_mini_top">
                        <input type="text" class="datepicker" id="datetimepicker2" placeholder="Select Task date">
                        <i class="fad fa-calendar" aria-hidden="true"></i>
                    </div>

                    <div class="inputPicker_mini inputPicker_mini_second telSHourPicker" title="">
                        <input type="text" class="datepicker datetimepicker3" id="datetimepicker3" placeholder="Select Xfr date" />
                        <i id="calendarIcon" class="fad fa-calendar" aria-hidden="true"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<!-- <div class="demo-section hidden-on-narrow k-content wide">
    <div id="background"> 
        <div class="column"> 
            <h3 class="title"><label for="palette">Select Wall Paint</label></h3>
            @(Html.Kendo().ColorPalette()
                .Name("palette")
                .Columns(4)
                .TileSize(s => s.Width(34).Height(19))
                .Palette(new string[] {
                    "#f0d0c9", "#e2a293", "#d4735e", "#65281a",
                    "#eddfda", "#dcc0b6", "#cba092", "#7b4b3a",
                    "#fcecd5", "#f9d9ab", "#f6c781", "#c87d0e",
                    "#e1dca5", "#d0c974", "#a29a36", "#514d1b",
                    "#c6d9f0", "#8db3e2", "#548dd4", "#17365d"
                })
                .Events(events => events.Change("preview"))
            )
        </div>

        <div class="column">
            <h3 class="title"><label for="picker">Choose Custom Color</label></h3> 
            @(Html.Kendo().ColorPicker()
                .Name("picker")
                .Value("#f9f9f9")
                .Events(events => events.Select("preview"))
            )
        </div>
     </div>
</div> 
<div class="responsive-message"></div> -->