

<div class="takeLead_Btn takeLead_Go">
	<div class="aditional_Btn">
		<span class="LRefr_Btns smallBtn viewBtn">
			<span class="TakeLeadTip ViewLeadTip">View Lead</span>
		</span> 

		<span class="LRefr_Btns smallBtn addBtn">
			<span class="TakeLeadTip AddLeadTip">Add Lead</span>
		</span>
	</div>
	<span class="LRefr_Btns leadTBtn">Take Lead</span>
</div>


<div class="takeLead_Btn takeLead_Success">
	<span class="LRefr_Btns leadTSuccess"></span>
</div>

<div class="takeLead_Btn takeLead_Error">
	<span class="LRefr_Btns leadFail"></span>
</div>