.row-content-lg .column-grid-login .logo_box {
    width: 100%;
    text-align: center;
    margin-bottom: 6%;
    background: url(/assets/img/login/QinexLogo.svg) no-repeat;
    background-size: 150px;
    height: 50.02px;
    background-position: 50%;
}

@media (min-width: 220px) and (max-width: 1023px) {
    .row-content-lg .column-grid-login .logo_box {
        background: url(/assets/img/login/QinexLogo.svg) no-repeat;
        background-size: 139px;
        background-position: 50%;
        margin-bottom: 20px;
    }
}