
<div class="LoginUsers">
	<ul class="mainNav">

		<li class="menuDrop">
		    <span class="userName">{{ activeUser }}</span>
		    <div class="dropTop" style="right: 44px;">
				<ul class="dropNav" style="width: 135px;">
					<div class="dropNavOpt">
						<li><a routerLink="/" class="navUrl paddLeftLog helpIcon">Help</a></li>
						<li><a routerLink="/" class="navUrl paddLeftLog accountIcon">Account</a></li>
						<li><a routerLink="/" class="navUrl paddLeftLog glossaryIcon">Glossary</a></li>
						<li><a routerLink="/" class="navUrl paddLeftLog bugIcon">Bugs</a></li>
						<li><a class="navUrl paddLeftLog reportbugIcon">Report a Bug</a></li>
						<li><a routerLink="/" class="navUrl paddLeftLog refreshIcon">Refresh Cache</a></li>
					</div>
				</ul>
			</div>
		</li>

	</ul>

    <a href="http://localhost:4233" class="powerOff"></a>
    <!-- <a class="userLog selected">Log Out</a> -->
    <!-- <a class="userLog">Log In</a> -->
</div>

<bugreport-page></bugreport-page> <!-- Bug Report Modal -->