<section id="section" role="main">

	<div class="container">

		<div class="section-header">
		    <h2 class="section-title text-center animated fadeInDown">GET IN TOUCH</h2>
		    <p class="text-center animated fadeInDown">Vero Cover Limited, Suite 4b, Second Floor, Icom House, 1/5 Irish Town, Gibraltar, GX11 1AA, Company Number: 112164</p>
		</div>

	</div>

	<div class="container-wrapper">
		
		<div class="container">
			<div class="row">
				<div class="col-sm-8" style="float: none; margin: auto;">
					<div id="contresult"></div>
					<div id="contsuccess"></div>
					<div class="contact-form">
						<form name="outerForm" class="tab-form-demo">

							<div active="activeForm" class="tab-animation">
								<ul class="nav nav-tabs">
	                              	<li class="uib-tab nav-item active" index="0" heading="Contact Us">
									  	<a class="nav-link contUsT" style="cursor: pointer;">Contact Us</a>
									</li>
									<li class="uib-tab nav-item" index="1" heading="Call Me Back">
									  	<a class="nav-link callUsT" style="cursor: pointer;">Call Me Back</a>
									</li>
	                            </ul>

	                            <div class="tab-content contUs">
	                            	<h3>Contact Us</h3>
	                            	<form id="main-contact-form" name="contact-form" method="post" action="#">
                                        <div class="form-group">
                                            <input type="text" name="name" id="contname" class="form-control" placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" id="contemail" class="form-control" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="contact" id="contphone" class="form-control" placeholder="Contact Number" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="subject" id="contsubj" class="form-control" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="message" id="contmessage" class="form-control" rows="8" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" id="contactSubmit" class="btn btn-primary">Submit</button>
                                    </form>
	                            </div>

	                            <div class="tab-content callUs tab-NoDisplay">
	                            	<h3>Call Me Back</h3>
	                            	<form id="callback-contact-form" name="callback-form" method="post" action="#">
                                        <div class="form-group">
                                            <input type="text" name="name" id="callname" class="form-control" placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" id="callemail" class="form-control" placeholder="Contact Number" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="time" id="calltime" class="form-control" placeholder="Time" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="subject" id="callsubj" class="form-control" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="message" id="callmessage" class="form-control" rows="8" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" id="callbackSubmit" class="btn btn-primary">Submit</button>
                                    </form>
	                            </div>

	                        </div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
