
<div class="newsFloor">
    <span class="newsTitle">News:</span>
    <span class="newsSlider" id="newsSmarter">News</span>

    
    <ul class="slider-list">

        <!-- <li><span class="newsSlider" id="newsSmarter">News</span></li>
        <li><span class="newsSlider" id="newsSmarter">News 2</span></li>
        <li><span class="newsSlider" id="newsSmarter">News 3</span></li>
        <li><span class="newsSlider" id="newsSmarter">News 4</span></li>
        <li><span class="newsSlider" id="newsSmarter">News 5</span></li> -->

    </ul>
</div>

