
<div class="allpoliciesTemp">

    <div class="leadTNav">
        <div class="LRefr_Fl">
            <span class="referenceLead">POLICIES</span>
        </div>
    </div>

    <div class="SearchBar_Top">
        <div class="SearchPicker">
            <span class="label">From</span>
            <input type="text" class="InpSearchPicker datePickerFromPot" name="" id="datePickerFromPot" />
            <span class="IconPicker"></span>
        </div>
        <div class="SearchPicker">
            <span class="label">To</span>
            <input type="text" class="InpSearchPicker datePickerToPot" name="" id="datePickerToPot" />
            <span class="IconPicker"></span>
        </div>
        <div class="SearchPicker" style="border-left: 0;">
            <input type="text" class="InpSearchPicker DropDownSearch" name="" value="Current month" readonly="readonly" />
            <span class="IconArrow"></span>
            <ul class="DropSearch"></ul>
        </div>
        <div class="SearchPicker" style="border-left: 0; border-right: 0;">
            <input type="text" class="InpSearchPicker" name="" placeholder="Search" />
        </div>
        <div class="SearchPicker" style="border-left: 0;">
            <input type="text" class="InpSearchPicker DropDownSale" name="" value="Sale Date" readonly="readonly" />
            <span class="IconArrow"></span>
            <ul class="DropSale"></ul>
        </div>
        <button class="getData_Btn">Get Data</button>
    </div>
	
    <div class="GridSmarter">
        <div class="AllPolHeader"></div>
        <div class="HeaderSearch"></div>

        <div class="AllPolBody" id="StBodyPolicies"></div>

        <div class="tdFoot" style="margin-top: 3px;">
            <span class="pageNum pagingN">&lt;&lt;</span>
            <span class="pageNum currentP SelectedFoot">1</span>
            <span class="pageNum currentP">2</span>
            <span class="pageNum currentP">3</span>
            <span class="pageNum currentP">4</span>
            <span class="pageNum currentP">5</span>
            <span class="pageNum currentP">6</span>
            <span class="pageNum currentP">7</span>
            <span class="pageNum">&gt;&gt;</span>
        </div>
    </div>

    <div class="GridCalendPot">
        <div class="CloseCalend"></div>
        <div class="GridCalendar left" id="GridCalen"><span class="calendDragTitle">Date From :</span></div>
    </div>

</div>