
                                  <p class="intro-report">This site has been created for users of the UEFA Europa League brand. It contains all the materials and artwork that have been developed by UEFA for the 2015-18 cycle. Please refer to the <a href="" class="login-txtdown">Brand Manual</a> for application instructions of how to use the assets provided for download.
                                  </p>
                                  <p class="intro-report">All artwork can only be used for the current season. To download the artwork, click on the asset and select the desired format(s) to save it to your download queue on the right hand side.
                                  </p>
                                  <p class="intro-report">Should you experience difficulties or need further assistance, please contact TEAM Marketing: <a href="mailto:brand@team.ch" class="login-txtdown">brand@team.ch</a>
                                  </p>



