
                                  <div class="col-md-12 border-bott-grid">
                                      <div class="col-md-2 grid-downl">
                                          <span class="grid-title">Preview</span>
                                      </div>
                                      <div class="col-md-2 grid-downl">
                                          <span class="grid-title">Filename</span>
                                      </div>
                                      <div class="col-md-2 grid-downl">
                                          <span class="grid-title">Size</span>
                                      </div>
                                      <div class="col-md-2 grid-downl">
                                          <span class="grid-title">Type</span>
                                      </div>
                                      <div class="col-md-2 grid-downl">
                                          <span class="grid-title">Format</span>
                                      </div>
                                  </div>
                                  <div class="grid-dw">
                                    <div class="col-md-12 border-grid">
                                      <div class="col-md-2 grid-downl-prev">
                                          <div class="grip-img-box">
                                              <img src="../img/user/1.jpg" />
                                          </div>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">SSC Napoli</span>
                                          <span class="grid-body">RGB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">81.07MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Multiple</span>
                                      </div>
                                  </div>
                                  <div class="multiple-groups">
                                  <div class="col-md-12 multiple-tab">
                                      <div class="">
                                      <div class="col-md-2 grid-downl-prevdown"></div>
                                      <div class="col-md-2 grid-downl-prevdown"></div>
                                      <div class="col-md-2 grid-downl-prevdown">
                                          <span class="grid-body">30.3MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prevdown">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prevdown">
                                          <span class="grid-body">PNG</span>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-md-12 multiple-tab">
                                      <div class="">
                                          <div class="col-md-2 grid-downl-prevdown"></div>
                                          <div class="col-md-2 grid-downl-prevdown"></div>
                                          <div class="col-md-2 grid-downl-prevdown">
                                              <span class="grid-body">73.7MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prevdown">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prevdown">
                                              <span class="grid-body">PSD</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-12 multiple-tab">
                                      <div class="">
                                          <div class="col-md-2 grid-downl-prevdown"></div>
                                          <div class="col-md-2 grid-downl-prevdown"></div>
                                          <div class="col-md-2 grid-downl-prevdown">
                                              <span class="grid-body">15.0MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prevdown">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prevdown">
                                              <span class="grid-body">JPG</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="dw-bl-hover">
                                      <div class="col-md-12 border-grid dw-with">
                                          <div class="col-md-2 grid-downl-prev">
                                              <div class="grip-img-box">
                                                  <img src="../img/user/1.jpg" />
                                              </div>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">SSC Napoli</span>
                                              <span class="grid-body">RGB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">81.07MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Multiple</span>
                                          </div>
                                      </div>
                                      <div class="col-md-12 multiple-tab dw-with">
                                          <div class="tab-dw">
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">30.3MB</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">Image</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">PNG</span>
                                              </div>
                                          </div>
                                          <div class="grid-downl-prevhover">
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">30.3MB</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">Image</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">PNG</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prev down-prev">
                                                  <div class="grip-icon-box">
                                                      <a href=""><img src="../img/icons/queue.png" /></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-12 multiple-tab dw-with">
                                          <div class="tab-dw">
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">73.7MB</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">Image</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">PSD</span>
                                              </div>
                                          </div>
                                          <div class="grid-downl-prevhover">
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">73.7MB</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">Image</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">PSD</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prev down-prev">
                                                  <div class="grip-icon-box">
                                                      <a href=""><img src="../img/icons/queue.png" /></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-12 multiple-tab dw-with">
                                          <div class="tab-dw">
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">15.0MB</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">Image</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">JPG</span>
                                              </div>
                                          </div>
                                          <div class="grid-downl-prevhover">
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown"></div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">15.0MB</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">Image</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prevdown">
                                                  <span class="grid-body">JPG</span>
                                              </div>
                                              <div class="col-md-2 grid-downl-prev down-prev">
                                                  <div class="grip-icon-box">
                                                      <a href=""><img src="../img/icons/queue.png" /></a>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                  </div>
                                  </div>
                                  </div>
                                  <div class="col-md-12 border-grid">
                                      <div class="col-md-2 grid-downl-prev">
                                          <div class="grip-img-box">
                                              <img src="../img/user/2.jpg" />
                                          </div>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">3D Gold logo on Dark</span>
                                          <span class="grid-body">RGB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">32.36MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">EPS</span>
                                      </div>
                                      <div class="grid-hover">
                                          <div class="col-md-2 grid-downl-prev">
                                              <div class="grip-img-box">
                                                  <img src="../img/user/2.jpg" />
                                              </div>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">3D Gold logo on Dark</span>
                                              <span class="grid-body">RGB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">32.36MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">EPS</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev down-prev">
                                              <div class="grip-icon-box">
                                                  <a href=""><img src="../img/icons/queue.png" /></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-12 border-grid">
                                      <div class="col-md-2 grid-downl-prev">
                                          <div class="grip-img-box">
                                              <img src="../img/user/1.jpg" />
                                          </div>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">SSC Napoli</span>
                                          <span class="grid-body">RGB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">81.07MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">EPS</span>
                                      </div>
                                      <div class="grid-hover">
                                          <div class="col-md-2 grid-downl-prev">
                                              <div class="grip-img-box">
                                                  <img src="../img/user/1.jpg" />
                                              </div>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">SSC Napoli</span>
                                              <span class="grid-body">RGB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">81.07MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">EPS</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev down-prev">
                                              <div class="grip-icon-box">
                                                  <a href=""><img src="../img/icons/queue.png" /></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-12 border-grid">
                                      <div class="col-md-2 grid-downl-prev">
                                          <div class="grip-img-box">
                                              <img src="../img/user/2.jpg" />
                                          </div>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">3D Gold logo on Dark</span>
                                          <span class="grid-body">RGB</span>
                                      </dIV>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">32.36MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Multiple</span>
                                      </div>
                                      <div class="grid-hover">
                                          <div class="col-md-2 grid-downl-prev">
                                              <div class="grip-img-box">
                                                  <img src="../img/user/2.jpg" />
                                              </div>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">3D Gold logo on Dark</span>
                                              <span class="grid-body">RGB</span>
                                          </dIV>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">32.36MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Multiple</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev down-prev">
                                              <div class="grip-icon-box">
                                                  <a href=""><img src="../img/icons/queue.png" /></a>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  <div class="col-md-12 border-grid">
                                      <div class="col-md-2 grid-downl-prev">
                                          <div class="grip-img-box">
                                              <img src="../img/user/1.jpg" />
                                          </div>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">SSC Napoli</span>
                                          <span class="grid-body">RGB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">81.07MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">EPS</span>
                                      </div>
                                      <div class="grid-hover">
                                          <div class="col-md-2 grid-downl-prev">
                                              <div class="grip-img-box">
                                                  <img src="../img/user/1.jpg" />
                                              </div>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">SSC Napoli</span>
                                              <span class="grid-body">RGB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">81.07MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">EPS</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev down-prev">
                                              <div class="grip-icon-box">
                                                  <a href=""><img src="../img/icons/queue.png" /></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-12 border-grid">
                                      <div class="col-md-2 grid-downl-prev">
                                          <div class="grip-img-box">
                                              <img src="../img/user/2.jpg" />
                                          </div>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">3D Gold logo on Dark</span>
                                          <span class="grid-body">RGB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">32.36MB</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">Image</span>
                                      </div>
                                      <div class="col-md-2 grid-downl-prev">
                                          <span class="grid-body">EPS</span>
                                      </div>
                                      <div class="grid-hover">
                                          <div class="col-md-2 grid-downl-prev">
                                              <div class="grip-img-box">
                                                  <img src="../img/user/2.jpg" />
                                              </div>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">3D Gold logo on Dark</span>
                                              <span class="grid-body">RGB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">32.36MB</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">Image</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev">
                                              <span class="grid-body">EPS</span>
                                          </div>
                                          <div class="col-md-2 grid-downl-prev down-prev">
                                              <div class="grip-icon-box">
                                                  <a href=""><img src="../img/icons/queue.png" /></a>
                                              </div>
                                          </div>




