
<section id="section" role="main">
	<div class="container">

		<div class="section-header">
		    <h2 class="section-title text-center animated fadeInDown">WHY USE US?</h2>
		    <p class="text-center animated fadeInDown">Our lead generating software makes it easy to capture leads; whether from a lead form on your landing page or inserted directly into the system via host and post. You act as the advertiser, setting rules and filters that instantly connect your data to the highest bidder.</p>
		</div>
		<hr/>

		<div class="row whyItem" id="whyItems"></div>

	</div>
</section>
