<div class="preriskpoliciesTemp">

    <div class="leadTNav">
        <div class="LRefr_Fl">
            <span class="referenceLead">Pre Risk Policies</span>
        </div>
    </div>

    <div class="SearchBar_Top">
        <span class="riskBtn prerisk riskSelect">PreRisk <strong>33</strong></span>
        <span class="riskBtn prereferred">PreReferred <strong>77</strong></span>
    </div>

    <div class="GridSmarter PreRiskPol">
       <div class="AllPolHeader"></div>

        <div class="HeaderSearch" style="width: 100%; float: left;"></div>

        <div class="AllPolBody" id="StBodyPolicies">Pre Risk</div>

        <div class="tdFoot" style="margin-top: 3px;">
            <span class="pageNum pagingN">&lt;&lt;</span>
            <span class="pageNum currentP SelectedFoot">1</span>
            <span class="pageNum">&gt;&gt;</span>
        </div>
    </div>

   <div class="GridSmarter PreReferredPol" style="display: none;">
       <div class="AllPolHeader"></div>

        <div class="HeaderSearch" style="width: 100%; float: left;"></div>

        <div class="AllPolBody" id="StBodyPolicies">Pre Referred</div>

        <div class="tdFoot" style="margin-top: 3px;">
            <span class="pageNum pagingN">&lt;&lt;</span>
            <span class="pageNum currentP SelectedFoot">1</span>
            <span class="pageNum currentP">2</span>
            <span class="pageNum">&gt;&gt;</span>
        </div>
   </div>

</div>