
<div class="newsTemp">

    <div class="leadTNav">
        <div class="LRefr_Fl">
            <span class="referenceLead">News Ticker Manager</span>
        </div>
    </div>

    <div class="tickerManger" id="tickerManger">
        <div id="dragItemNews">

            <div class="AddNewsBlock Ticker">
                <span class="tickerTitle addTitle">1</span>
                <div class="contentNews">
                    <label class="labelNews">News Content</label>
                    <textarea class="editNews"></textarea>
                    <label class="labelNews">Url</label>
                    <input type="text" name="urlnews" class="urlNews" />
                    <div class="actionsNews">
                        <label class="container-check hide-Check"><input type="checkbox"><span class="checkmark"></span></label>
                        <span class="labelCheck">Hide</span>
                        <label class="container-check important-Check"><input type="checkbox"><span class="checkmark"></span></label>
                        <span class="labelCheck">Important</span>

                        <button class="actTickerBtn actTickerBtnSave">Save</button>
                        <button class="actTickerBtn actTickerBtnRemove">Remove</button>
                    </div>
                </div>

                <div class="RemoveConfirm">
                    
                    <span class="textConfirm">Are you sure you wish to continue?</span>
                    <div class="btns_Fl">
                        <button class="confirmBtn" style="margin-right: 10px;">Confirm</button>
                        <button class="CancelSendSms">Cancel</button>
                    </div>
                </div> 
            </div>

        </div>
        <div class="AddNewsBlock addTicker"></div> <!-- Click to Add A new Ticker -->
    </div>

</div>

