
<form action="" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="firstname" placeholder="{{ userfirst }}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastname" placeholder="{{ userlast }}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="emailaddress" placeholder="{{ useremail }}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="jobdescrp" placeholder="{{ userejob }}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="groupaccess" placeholder="{{ useregroup }}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="{{ loginpassword }}" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmpassword" placeholder="{{ loginconfpassword }}" />
            </div>
            <p class="modal-form-txt">{{ activet }}</p>
            <a href="app/introduction.html"><button type="button" class="btn btn-default margbtt10">{{ updatebnt }}</button></a>
</form>










