<section class="taskSection">
    
    <fishingsection-page></fishingsection-page>

    <div class="topTasks">
        <div class="topNav"><span class="addTasks">Tasks</span></div>

        <!-- <i class="fa fa-expand expandIcon" aria-hidden="true"></i>
        <span class="expandToolTip">Zoom In</span> -->

        <div class="topNav_Floor">
            <div class="atb_Top">
                <span class="atb_Header width20">Author</span>
                <span class="atb_Header width45">Task</span>
                <span class="atb_Header width17-5">Due</span>
                <span class="atb_Header">Created</span>
            </div>
            <div class="TasksTop_Fl" id="TasksTop_Fl"></div>
        </div>
    </div>

    <div class="allTabs_Floor">
        <div class="headerTabs">
            <span class="HTab tabAll selectedHtb">All</span>
            <span class="HTab tabNotes">Notes</span>
            <span class="HTab Tabsms">Sms</span>
            
            <i class="fa fa-expand expandIcon" aria-hidden="true"></i>
            <span class="expandToolTip">Zoom In</span>
            <span class="addNote addNoteGrey"></span>
        </div>
        <div class="allTabs-Content">
            <div class="atb_Top">
                <span class="atb_Header width20">Author</span>
                <span class="atb_Header width54">Note</span>
                <span class="atb_Header">Created</span>
            </div>
            <div class="notes_Floor" id="notesFloor"></div>
        </div>
    </div>

    <div class="bottomTasks">
        <div class="topNav"><span class="addBttTasks">Calls (<span class="callsCount">50</span>)</span></div>
        <div class="bottomNav_Floor">
            <div class="atb_Top">
                <span class="atb_Header width20">Caller</span>
                <span class="atb_Header width12">Extn</span>
                <span class="atb_Header width20">CallID</span>
                <span class="atb_Header width20">Number</span>
                <span class="atb_Header width27">Date</span>
            </div>
            <div class="calls_Floor" id="callsFloor"></div>
        </div>
    </div>

</section>