
<div class="overlay_back">
    <div class="overlay-t">

        <span class="topMsg errorMsg">UserName or Password is Incorrect</span>

        <div class="conv-large-A20-wl row-content-lg">

            <!-- LOGIN GRID -->
            <div class="column-grid-login">

                <div class="logo_box"></div>
					
				<form action="" class="login_fr" method="get"> 
               
                    <div class="box-usern">
                        <label id="u-login" class="user-login user-login-sc">Username</label>
                        <input type="text" class="in-user" id="username" name="UserName" value=""   />
                    </div>

                    <div class="box-usern">
                        <label id="p-login" class="pass-login user-login-sc">Password</label>
                        <input type="password" class="in-pass" id="password" name="Password" value="" />
                    </div>

                    <div class="box-submit">
                        <div class="fc-submit"></div>
                        <a class="lg-btn-bx" href="#/leads">Let Me in</a>
                    </div>

                     <div class="RegsBlk">
                        <a class="RegistLog" href="/">Register user</a>
                        <a class="RegistLog" href="/">Forgot Pasword?</a>
                    </div>

				</form>
            </div>
        </div>
    </div>
</div>