
<!-- MOBILE APP -->
<div class="mobile-app" ng-controller="uclcontroller">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        
        <div class="col-md-2 user-nav">
            <div class="panel-nav-group">
                <a class="nav-step cbp-margtpmenu-mob" href="">INTRODUCTION</a>
                <a class="nav-step" href=""><i class="nav-ico brand-ico"></i>BRAND MANUAL</a>
                <a class="nav-step" href=""><i class="nav-ico core-ico"></i>CORE BRAND IDENTITY</a>
                <div tabindex="0" class="onclick-menu"><span><i class="nav-ico indentity-ico"></i>2012-15 VISUAL IDENTITY</span>
                    <ul class="onclick-menu-content">
                        <li><a class="nav-step-group" href="">Trophy Views</a></li>
                        <li><a class="nav-step-group" href="">Background Views</a></li>
                        <li><a class="nav-step-group" href="">Vector Views</a></li>
                        <li><a class="nav-step-group" href="">Colour Print Settings</a></li>
                    </ul>
                </div>
                <div tabindex="0" class="onclick-menu"><span><i class="nav-ico indentity-ico"></i>BRAND ACTIVATION</span>
                    <ul class="onclick-menu-content">
                        <li><a class="nav-step-group" href="">Toolkit Manual 2015/18</a></li>
                        <li><a class="nav-step-group" href="">Multilateral TV Graphics</a></li>
                        <li><a class="nav-step-group" href="">Unilateral TV Graphics</a></li>
                        <li><a class="nav-step-group" href="">Map Package</a></li>
                        <li><a class="nav-step-group" href="">Audio Files</a></li>
                        <li><a class="nav-step-group" href="">Club Logos</a></li>
                    </ul>
                </div>
                <a class="nav-step" href=""><i class="nav-ico club-ico"></i>CLUB PRODUTION ITEMS</a>
                <a class="nav-step" href=""><i class="nav-ico broadcast-ico"></i>BROADCAST TOOLKIT</a>
                <a class="nav-step" href=""><i class="nav-ico final-ico"></i>FINAL 2015 WARSAW OFF-AIR</a>
                <a class="nav-step" href=""><i class="nav-ico final-ico"></i>FINAL 2015 WARSAW ON-AIR</a>
            </div>
            </nav>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        
        <div class="top-blk-downl">
            <div class="downl-all-blks">
                <span class="downl-tw-queue">Download</span>
                <span class="downl-tw-queue">Queue at</span>
                <span class="downl-tw-queue f-bold">3.23 GB</span>
            </div>
            <div class="buttons-all">
                <a href="" class="manage-itmes pos-right delete-item"></a>
                <a href="" class="manage-itmes pos-left5 share-item"></a>
            </div>
        </div>
        
        <div class="scroll-thumbs">
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/1.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">33.5 MB</span>
                    </div>
                </div>
                <div class="queue-options">
                    <ul class="option-file">
                        <a href=""><li>TIFF - CMYK - 2.3 MB</li></a>
                        <a href=""><li>png - rgb - 1.2 MB</li></a>
                        <a href=""><li>ai - rgb - 30 MB</li></a>
                    </ul>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/2.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">2.5 MB</span>
                    </div>
                </div>
                <div class="queue-options">
                    <ul class="option-file">
                        <a href=""><li>TIFF - CMYK - 2.3 MB</li></a>
                        <a href=""><li>png - rgb - 1.2 MB</li></a>
                        <a href=""><li>ai - rgb - 30 MB</li></a>
                    </ul>
                </div>
            </div>
            
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/3.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">4.0 MB</span>
                    </div>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/4.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">12.8 MB</span>
                    </div>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/5.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">33.5 MB</span>
                    </div>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/6.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">40.5 MB</span>
                    </div>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/7.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">22.6 MB</span>
                    </div>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/8.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">12.4 MB</span>
                    </div>
                </div>
            </div>
            
            <div class="blk-queue">
                <div class="queue-blk">
                    <div class="queue-box-im">
                        <img class="queueim" src="../img/user/1.jpg" />
                    </div>
                    <div class="item-deal">
                        <span class="item-txt clgrey">Toolkit Image 01</span>
                        <span class="item-txt clgrey">Europa League</span>
                        <span class="item-txt margtcl">12.0 MB</span>
                    </div>
                </div>
            </div>
            
        </div>
        
    </nav>
    
    <div class="container">
        <div class="main">
            <section class="buttonset">
                <button id="showLeftPush"></button>
                <button id="showRightPush"></button>
            </section>
            
            
            <div class="header-blk">
                <h3 class="blk-title">{{ visual }}</h3>
                <div class="nav-logout">
                    <a href=""><i class="nav-log-opt filter-ico"></i></a>
                    <a href=""><i class="nav-log-opt list-ico"></i></a>
                    <a href=""><i class="nav-log-opt square-list"></i></a>
                </div>
            </div>
            
            <div class="ifra-box">
                
                <div class="user-cont-blocks">
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                    <div class="check-file fl-right">
                                                        <input type="checkbox" value="1" id="check-tiff-mob" name="" />
                                                        <label for="check-tiff-mob"></label>
                                                    </div>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                    <div class="check-file fl-right">
                                                        <input type="checkbox" value="1" id="check-jpeg-mob" name="" />
                                                        <label for="check-jpeg-mob"></label>
                                                    </div>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                    <div class="check-file fl-right">
                                                        <input type="checkbox" value="1" id="check-eps-mob" name="" />
                                                        <label for="check-eps-mob"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/1.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/2.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/3.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/4.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/5.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/6.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/7.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/8.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/1.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/2.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/3.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/4.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/5.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/6.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/7.jpg" />
                        </div>
                    </div>
                    
                    <div class="user-file-mob">
                        <span class="user-mob-title">Trophy Center View</span>
                        <div class="user-file-box">
                            <div class="blk-options">
                                <div class="up-bar"></div>
                                <div class="left-bar"></div>
                                <div class="right-bar"></div>
                                <div class="bottom-bar"></div>
                                <div class="guide-ic-user">
                                    <a ng-click="showme=false" href=""><div class="ico-expand">
                                        <i class="i-expand"><img src="../img/icons/expand.png" /></i>
                                    </div></a>
                                    <a ng-click="showme=true" href=""><div class="ico-dowload">
                                        <i class="i-downl"><img src="../img/icons/downl.png" /></i>
                                    </div></a>
                                    <div class="wrapper">
                                        <p ng-hide="showme"></p>
                                        <div ng-show="showme" class="dlqueue">
                                            <ul id="downl-files-group">
                                                <li class="downl-file-type">
                                                    <span>CMYK 300dpi TIFF</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB 72dpi JPEG</span>
                                                </li>
                                                <li class="downl-file-type">
                                                    <span>RGB Vector EPS</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="userimg" src="../img/user/8.jpg" />
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="js/classie.js"></script>
    
</div>