
<div class="col-md-12 col-xs-12 boxSystem qinexRoute leadsSpace">

    <div class="TopLeads">
    <!-- <div class="TopGridLead"> -->

        <div class="panel-input daysFl" style="width: 200px; margin-left: 0;">
            
            <!-- <input type="text" class="daysTime" name="days" readonly="readonly" />
            <ul class="Drop_Panel daysDrop">
                <li *ngFor="let daysDrop of daysDrops"><span class="dropItem {{ daysDrop.selectedClass }}">{{ daysDrop.name }}</span></li>
            </ul> -->

            <input id="color" value="1" style="width: 100%;" />
            <a routerLink="/leads">Leads Screen</a>
        </div>

        <!-- <div id="calendar" style="z-index: 10000000;"></div> -->

    </div>

    <div class="tableLead">

        <!-- <div class="tabsTL">
            <span *ngFor="let grigTab of grigTabs" class="tabL {{ grigTab.selClass }}">{{ grigTab.name }}</span>
        </div>

        <all-grid class="allGrid"></all-grid> -->

        <!-- Kendo Grid -->
        <kendogrid></kendogrid>

       
        <!-- <label><input type="checkbox" disabled><span>well I never</span></label><br> 
        <label>
            <input class="userCheck" type="checkbox">
            <span class="userSp"></span>
        </label> -->

    </div>
</div>

<!-- <style>
    
    input.userCheck { 
        display: none;
    }
    input.userCheck + span.userSp { 
        font: 16pt sans-serif; 
        color: #3d566e; 
    }
    input.userCheck + span.userSp:before { 
        font: 14pt FontAwesome; 
        content: '\00f096'; 
    }
    input.userCheck:checked + span.userSp:before { 
        content: '\00f046'; 
    }
    input.userCheck:focus + span.userSp:before { 
        outline: 1px dotted #aaa; 
    }
    
</style> -->